.main {
  background: url('../public/about-us/Banner-BG.jpg');
  background-size: cover;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroBanner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1364 564'%3E%3Cpath opacity='0.09' d='M2.66571 -61.9323C408.154 -83.0515 619.816 214.376 674.961 365.731C798.86 9.52091 1181.82 -67.7987 1357.81 -61.9323V50.7034C825.611 50.7035 717.199 469.567 729.518 678.999H616.883C602.803 153.835 201.538 41.3171 2.66571 50.7034V-61.9323ZM0.905945 261.895C150.5 247.815 426.457 310.469 403.93 673.719H293.054C304.787 564.017 261.376 369.251 0.905945 374.531V261.895ZM937.19 673.719C914.663 310.469 1213.5 247.815 1363.09 261.895V374.531C1085.73 350.596 1039.85 564.016 1051.59 673.719H937.19Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: top;
}
